<div class="content-moneys">
  <ion-card *ngFor="let money of moneyInformations" [ngClass]="parserDenomination(money.denomination)">
    <ion-card-title>{{money.denomination}}</ion-card-title>
    <ion-card-subtitle>{{typeMoney}}</ion-card-subtitle>
  </ion-card>
</div>
