.content-moneys {
  display: flex;
  align-content: start;
  flex-wrap: wrap;
  height: 100%;
  background-color: var(--ion-color-light);

  ion-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: -1px 3px 5px 2px #00000035;
  }
}

.fifty {
  background-color: #d6d6d6;
}

.one-hundred {
  background-color: #f3f2c2;
}

.two-hundred {
  background-color: #b2cacc85;
}

.five-hundred {
  background-color: #bfae94bd;
}

.one-thousand {
  background-color: #dada36bd;
}
