<div class="content-form">
  <form [formGroup]="money" (ngSubmit)="submitMoney()">
    <ion-card>
      <ion-item>
        <ion-label>{{ label }}</ion-label>
        <ion-select formControlName="denomination" interface="popover">
          <ion-select-option [value]="denomination.value" *ngFor="let denomination of denominations">
            {{ denomination.text }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-label *ngIf="money.invalid && submit" color="danger">{{ error }}</ion-label>

      <ion-button color="success" type="submit">{{ button }}</ion-button>
    </ion-card>
  </form>
</div>
