.content-form {
  display: flex;
  height: 100%;
  background-color: var(--ion-color-light);
}

ion-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 400px;
  height: 200px;
  border-radius: 10px;
  box-shadow: -1px 3px 5px 2px #00000035;
}

ion-item {
  width: 80%;
}

