<div class="content-totals">
  <ion-list>
    <ion-item>
      <ion-label>{{ qualityOfCoins }}</ion-label>
      <ion-title color="secondary">{{ moneyInformations.length }}</ion-title>
    </ion-item>

    <ion-item>
      <ion-label>{{ qualityOfMoney }}</ion-label>
      <ion-title color="secondary">{{ cashCounter() | currency: 'CO' }}</ion-title>
    </ion-item>

    <ion-item>
      <ion-label>{{ coinsPerDenomination }}</ion-label>
      <ion-select interface="popover" (ionChange)="coinsCounterPerDenomination($event)">
        <ion-select-option [value]="denomination.value" *ngFor="let denomination of denominations">
          {{ denomination.text }}
        </ion-select-option>
      </ion-select>
      <ion-title color="secondary">{{ totalCoinsPerDenomination }}</ion-title>
    </ion-item>

    <ion-item>
      <ion-label>{{ moneyPerDenomination }}</ion-label>
      <ion-select interface="popover" (ionChange)="moneyCounterPerDenomination($event)">
        <ion-select-option [value]="denomination.value" *ngFor="let denomination of denominations">
          {{ denomination.text }}
        </ion-select-option>
      </ion-select>
      <ion-title color="secondary">{{ totalMoneyPerDenomination }}</ion-title>
    </ion-item>
  </ion-list>
</div>
